# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
dist/
web-build/

# Android
.gradle/
local.properties
*.tcl
*.iml
*.ipr
*.iws
.idea/
build/
app/build/
Captures/
.externalNativeBuild
.cxx
google-services.json

# Java / Spring
target/
*.class
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# OS / IDE
.vscode/
.DS_Store
Thumbs.db
*.swp
*.bak
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
